.block_1{
    position: absolute;
    background-color: rgb(165, 64, 233);
    width: 400px;
    height: 600px;
    top: -10px;
}
.block_2{
    position: absolute;
    background-color: deeppink;
    width: 1675px;
    height: 300px;
    top: 590px;
}
.block_3{
    position: absolute;
    background-color: rgb(84, 233, 64);
    width: 1275px;
    height: 300px;
    top: -10px;
    left: 408px;
    
 
}
.block_4{
    position: absolute;
    background-color: rgb(64, 123, 233);
    width: 1275px;
    height: 300px;
    top: 290px;
    left: 408px;
    
 
}